<div class="col-sm-8 blog-main">
  <div class="blog-post">
    <h2 class="blog-post-title"><%= @article.title.capitalize %></h2>
    <div id="image">
      <img id="image" src="/Users/ashishrao/DCT/rails/blog/public/tech.jpg">
    </div>
    <!--<img src="800x250" class="img-responsive" alt="Responsive image">-->
    <p class="blog-post-meta"><% @article.publish_date %> by <%= @article.user.name %></p>
    <p><%= raw @article.body %></p>
    <hr>
  </div>
</div>
